@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;600;800;900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin:0px;
    padding:0px;
}
#navbar{
    border:1px solid black;
    display:flex;
    padding:1rem;
    background-color: aquamarine;

}
#input_search{
    height:30px;
    width:40%;margin:auto;
    border:1px solid ;
    border-radius:8px;
    padding:8px;
    text-align: center;
    font-size:20px;
    margin-right:10px;
}

a{
    text-decoration:none;
    font-weight:bold;
    font-size: 40px;
}